<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Tables</title>

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <style>
        .modal-backdrop {
            z-index:0;
        }
        .smallertxt {
            width:50px;
        }
        .bottomtxt {
            position:relative;
           top:20px;
        }
        .fieldheight {
            height:50px;
            
        }
        .unitcost {
            width:50px;
        }
        .suppliertxt {
            width:200px;
        }
        .itemnametxt {
            width:150px;
            
        }
        .plusicon {
            color:white;
        }
        .addemp {
            position:relative;
            right:-590px;
        }
        .addemp2 {
            position:relative;
            right:-640px;
        }
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

/* Modal Content */
        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            width: 80%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s
        }

/* Add Animation */
        @-webkit-keyframes animatetop {
            from {top:-300px; opacity:0} 
            to {top:0; opacity:1}
        }

        @keyframes animatetop {
            from {top:-300px; opacity:0}
            to {top:0; opacity:1}
        }

/* The Close Button */
        .close {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        .modal-header {
            padding: 2px 16px;
  
            color: black;
        }

        .modal-body {padding: 2px 16px;}

        .modal-footer {
            padding: 2px 16px;
  
            color: black;
        }

        .table{
          table-layout: fixed; 
          word-wrap:break-word; 
        }
        
        input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        
        #curritem{
            display : none;
        }
    </style>
    
    <script src = '/jQuery.js'></script>
    <script>
       let warning = {{message}}
        $( document ).ready(function() {
            if(warning === 1){
                alert("Item Already Exists")
                window.location = '/inventory';
            }
            else if(warning === 2){
                alert("Item Successfully Added")
                window.location = '/inventory'
            }
            else if(warning === 3){
                alert("Please Do Not Leave Fields Empty")
                window.location = '/inventory'
            }
            else if(warning === 4){
                alert("Material Added Successfully")
                window.location = '/inventory'
            }
            else if(warning === 5){
                alert("Material Already Exists")
                window.location = '/inventory'
            }
            else if(warning === 6){
                alert("Material Edit Saved")
                window.location = '/inventory'
            }
            else if(warning === 7){
                alert("Item Edit Saved")
                window.location = '/inventory'
            }
            
            $("button.edit").click(function(){
                let id = $(this).attr("data-id")
                let name = $(this).attr("data-name")
                let type = $(this).attr("data-type")
                let supplier = $(this).attr("data-supplier")
                let unit = $(this).attr("data-unit")
                
                $("#curritem").val(id)
                $("#newtypedropdown").val(type)
                $("#newnameinput").val(name)
                $("#newunitdropdown").val(unit)
                $("#newsupplierdropdown").val(supplier)
                modal4.style.display = "block"
            })
        
        });
    </script>
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-3">UP RISING</div>
        </a>
  
        <!-- Divider -->
        <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="dashboard">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item active">
        <li class="nav-item">
        <a class="nav-link" href="inventory">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Inventory</span></a>
      </li>
      <li class="nav-item active">
        <li class="nav-item">
        <a class="nav-link" href="requisitions">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Requisitions</span></a>
      </li>
      <li class="nav-item active">
        <li class="nav-item">
        <a class="nav-link" href="employees">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Employees</span></a>
      </li>
      <li class="nav-item active">
        <li class="nav-item">
        <a class="nav-link" href="clients">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Clients</span></a>
      </li>
        <li class="nav-item active">
        <li class="nav-item">
        <a class="nav-link" href="projects">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Projects</span></a>
      </li>
      <li class="nav-item active">
        <li class="nav-item">
        <a class="nav-link" href="suppliers">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Suppliers</span></a>
      </li>
      <li class="nav-item active">
        <li class="nav-item">
        <a class="nav-link" href="orders">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Orders</span></a>
      </li>
      <li class="nav-item active">
        <li class="nav-item">
        <a class="nav-link" href="reports">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Reports</span></a>
      </li>

      <li class="nav-item active">
        <li class="nav-item">
        <a class="nav-link" href="delivery_tracker.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Delivery Tracker</span></a>
      </li>
  
         
      
  
        
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
  
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
  
      </ul>
      <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-danger" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-danger" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>


            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Inventory
            <a href="#" class="btn btn-danger btn-icon-split addemp" id = "myBtn">
            <span class="icon text-white-50">
                <b class = "plusicon">+</b>
            </span>
            <span class="text">Add Material Type</span>
         </a>
         <a href="#" class="btn btn-danger btn-icon-split addemp2" id = "myBtn2">
            <span class="icon text-white-50">
                <b class = "plusicon">+</b>
            </span>
            <span class="text">Add Item</span> </a>
        </h1> 
 <!-- Modal -->
           
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Add New Material Type</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class = " btn btn-danger btn-circle btn-sm">&times;</span>
                            </button>
                        </div>
                        <form action = "inventory/addMaterial" method = "post">
                        <div class="modal-body">
                            <div>Name of Material</div>
                            <input type = "text" name = "materialName" class = "fullinput">
                        </div>
                        <div class="modal-footer">
       
                            <input class="btn btn-success" type = 'submit' value = 'Save'>
                        </div>
                            </form>
                    </div>
            </div> 
          <!-- The Modal -->
            <div id="addItemModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add Item</h5>
                        <span id = "closeAddItem" class="btn btn-danger btn-circle btn-sm">&times;</span>
                        
                    </div>
                    <form action = "inventory/addItem" method = "post">
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class = "fieldheight bottomtxt">Material</div> 
                                        <select name = "type" id="material_dropdown">
                                            {{#each types}}
                                                <option value="{{this.mtID}}">{{this.type}}</option>
                                            {{/each}}
                                        </select>   
                                    </div>
                                    <div class="col-md-3">
                                        <div class = "fieldheight bottomtxt">Item Name</div>
                                        <input type = "text" class = "itemnametxt" name = "itemName">
                                    </div>
                                    <div class="col-md-2">
                                        <div class = "fieldheight bottomtxt">Unit of Measure</div>
                                        <select name = "unit" id="supplierDrop">
                                            {{#each unit}}
                                                <option value="{{this.uomID}}">{{this.unitOfMeasure}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <div class = "fieldheight bottomtxt">Supplier</div>
                                        <select name = "supplier" id="supplierDrop">
                                            {{#each supplier}}
                                                <option value="{{this.supplierID}}">{{this.supplierName}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
   
  </div>
</div>
                        <div class="modal-footer">
                            <button type = "submit" class = "btn btn-success">Save</button>
                        </div>
                    </form>
                    
                </div>

            </div> 

            <div id="editModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Edit Material</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="btn btn-danger btn-circle btn-sm" id ="close3">&times;</span>
                        </button>
                </div>
                <form action = "inventory/editMaterialType" method = "post">
                        <div class="modal-body">
                        
                            <div>Select the Material to be edited</div>
                             <select name = "currType" id="currType">
                                {{#each types}}
                                  <option value = "{{this.mtID}}">{{this.type}}</option>
                                {{/each}}
                            </select> 

                            <div>Material Type</div>
                            <input type="text" class="form-control bg-light border-0 small" aria-label="Search" aria-describedby="basic-addon2" name = "newType">
                            
                        </div>
                        <div class="modal-footer">
                            <button type = "submit" class = "btn btn-success">Save</button>
                        </div>
                    </form>
            </div>

        </div>
          
          <div id="editItemModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Edit Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class=" btn btn-danger btn-circle btn-sm" id ="close4">&times;</span>
                       </button> 
                </div>
                <form action = "inventory/editMaterial" method = "post">
                        <div class="modal-body">
                        
                            <div>Update Details</div>
                             <input type = 'text' id = 'curritem' name = currItem>
                        <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class = "fieldheight bottomtxt">Material</div> 
                                        <select name = "newType" id="newtypedropdown">
                                            {{#each types}}
                                                <option value = "{{this.mtID}}">{{this.type}}</option>
                                            {{/each}}
                                        </select>   
                                    </div> 
                                <div class="col-md-3">
                                        <div class = "fieldheight bottomtxt">Item Name</div>
                                        <input class="itemnametxt" type = "text" name = "newName" id="newnameinput">
                                </div> 
                                <div class="col-md-3">
                                        <div class = "fieldheight bottomtxt">Unit of Measure</div>
                                        <select name = "newUnit" id="newunitdropdown">
                                            {{#each unit}}
                                                <option value="{{this.uomID}}">{{this.unitOfMeasure}}</option>
                                            {{/each}}
                                        </select>
                                    
                                </div>   
                                <div class="col-md-3">
                                        <div class = "fieldheight bottomtxt">Supplier</div>
                                         <select name = "newSupplier" id="newsupplierdropdown">
                                            {{#each supplier}}
                                                <option value="{{this.supplierID}}">{{this.supplierName}}</option>
                                            {{/each}}
                                        </select>
                                    
                                </div>              
                          </div>
                          </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type = "submit" class = "btn btn-success">Save</button>
                        </div>
                    </form>
            </div>

        </div>
          
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Inventory</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Material</th>
                      <th>Item Name</th>
                      <th>Unit of Measures</th>
                      <th>Supplier</th>
                      <th>Qty</th>
                      <th>Unit Cost</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each inventory}}
                      <tr>
                        <td>{{this.type}}</td>
                        <td>{{this.materialName}}</td>
                        <td>{{this.unitOfMeasure}}</td>
                        <td>{{this.supplierName}}</td>
                        <td>{{this.quantity}}</td>
                        <td>{{this.aveCost}}</td>
                      </tr>
                      {{/each}}
                   
                  </tbody>
                </table>
              </div>
            </div>
          </div>

            <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Item List</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Item Name</th>
                      <th>Supplier</th>
                      <th>Edit</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each items}}
                      <tr>
                          <td>{{this.type}} - "{{this.materialName}}"</td>
                          <td>{{this.supplierName}}</td>
                          <td><button class = 'edit btn btn-success' data-id = '{{this.materialID}}' data-name = '{{this.materialName}}' data-type = '{{this.mtID}}' data-supplier = '{{this.supplierID}}' data-unit = '{{this.unitOfMeasure}}'><u>Edit</u></button></td>
                      </tr>
                      {{/each}}
                   
                  </tbody>
                </table>
               <div><span id ="edit" class = "btn btn-danger"><U>Edit Material Type</U></span></div> 
              </div>
            </div>
          </div>
            
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

     

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade modal-backdrop" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to log out?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
          <a class="btn btn-danger" href="/">Yes</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");
        var modal3 = document.getElementById("editModal");
        var modal4 = document.getElementById("editItemModal");


            
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        var editbtn = document.getElementById("edit");
       

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        var span3 = document.getElementsByClassName("close")[1];
        var span4 = document.getElementsByClassName("close")[2];
        

        // When the user clicks on the button, open the modal
        
        btn.onclick = function() {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }
        span3.onclick = function() {
            modal3.style.display = "none";
        }
        span4.onclick = function() {
            modal4.style.display = "none";
        }
   

        // When the user clicks anywhere outside of the modal, close it
       
        // Get the modal
        var add_item_modal = document.getElementById("addItemModal");
      


        // Get the button that opens the modal
        var btn2 = document.getElementById("myBtn2");

        // Get the <span> element that closes the modal
        var close_add_item = document.getElementById("closeAddItem");

        // When the user clicks on the button, open the modal
        btn2.onclick = function() {
            add_item_modal.style.display = "block";
        }
        editbtn.onclick = function() {
            modal3.style.display = "block";
        }
        


        // When the user clicks on <span> (x), close the modal
        
        close_add_item.onclick = function() {
            add_item_modal.style.display = "none";
        }
        span3.onclick = function() {
            modal3.style.display = "none";
        }
        span4.onclick = function() {
            modal4.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
            else if (event.target == add_item_modal) {
                add_item_modal.style.display = "none";
            }
            else if (event.target == modal4) {
                modal4.style.display = "none";
            }
            else if (event.target == modal3) {
                modal3.style.display = "none";
            }
            

        }
    </script>
</body>

</html>
