<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Buttons</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sample.css" rel="stylesheet">
    <style>
        .smallertxt {
            width:30px;
        }
        .modal-ku {
            width:900px;
            margin:auto;
        }
        .plusicon {
            color:white;
        }
        .addemp {
            position:relative;
            right:-790px;
        }
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

/* Modal Content */
        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            width: 80%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s
        }

/* Add Animation */
        @-webkit-keyframes animatetop {
            from {top:-300px; opacity:0} 
            to {top:0; opacity:1}
        }

        @keyframes animatetop {
            from {top:-300px; opacity:0}
            to {top:0; opacity:1}
        }

/* The Close Button */
        .close {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        .modal-header {
            padding: 2px 16px;
  
            color: black;
        }

        .modal-body {padding: 2px 16px;}

        .modal-footer {
            padding: 2px 16px;
  
            color: black;
        }
        
        #projectmaterialid{
            display : none;
        }
        
        #editProjectMaterialIDLabel{
            display : none;
        }
        
        #currProjID{
            display : none;
        }
        
        input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"] {
            -moz-appearance: textfield;
        }
        
        #editProjectDetailID{
            display : none;
        }
    </style>

    <!-- Custom styles for this template -->
  <link href="/stylesheets/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <script src = '/jQuery.js'></script>
    <script>
        
        function loadProjectMaterialsTable(projID){
            $('#viewModal').css("display", "none");
            $('table.projectmaterials tbody').empty();
            $('#addprojectmaterialbtn').attr("data-id",projID);
            $.post( "/projects/loadProjectMaterials",{
                    projID:projID
                },function(data){
                    for(let i = 0; i < data.length; i++){
                        var newRow = "<tr><td>"+ data[i].type +" - \""+ data[i].materialName + "\" - " + data[i].supplierName +"</td><td>"+ data[i].quantity +"</td><td>0</td><td>0</td><td><button class = 'editProjectMaterialsBtn btn-danger btn' data-id = '"+ data[i].pmID + "' data-itemID = '"+ data[i].materialID+ "' data-quantity = '" + data[i].quantity + "' data-projectID = '"+ data[i].projectID+"'><u>Edit</u></button><td></tr>"
                        $('table.projectmaterials tbody').append(newRow);
                    }
                    $('#viewModal').css("display", "block");
                });
        }
        
        let warning = {{message}}
        $( document ).ready(function() {
            if(warning === 1){
                alert("Project With Client Already Exist")
                window.location = '/projects';
            }
            else if(warning === 2){
                alert("Project Added Successfully")
                window.location = '/projects'
            }
            else if(warning === 3){
                alert("Please Do Not Leave Fields Empty")
                window.location = '/projects'
            }
            else if(warning === 4){
                alert("Project Details Saved")
                window.location = '/projects'
            }
            
            $('button.viewdetails').click(function(){
                $('table.projectmaterials tbody').empty();
                var projID = $(this).attr("data-id")
                $('#addprojectmaterialbtn').attr("data-id",projID);
                $.post( "/projects/loadProjectMaterials",{
                    projID:projID
                },function(data){
                    for(let i = 0; i < data.length; i++){
                        var newRow = "<tr><td>"+ data[i].type +" - \""+ data[i].materialName + "\" - " + data[i].supplierName +"</td><td>"+ data[i].quantity +"</td><td>0</td><td>0</td><td><button class = 'editProjectMaterialsBtn btn-danger btn' data-id = '"+ data[i].pmID + "' data-itemID = '"+ data[i].materialID+ "' data-quantity = '" + data[i].quantity + "' data-projectID = '"+ data[i].projectID+"'><u>Edit</u></button><td></tr>"
                        $('table.projectmaterials tbody').append(newRow);
                    }
                    $('#viewModal').css("display", "block");
                });
            });
            
            $('#addprojectmaterialbtn').click(function(){
                let projID = $(this).attr("data-id")
                $('#projmaterialQty').val("")
                $('#addProjectMaterialModal').css("display", "block");
                $('#addProjectMaterialModal').css('z-index', 3000);
                $('#projectmaterialid').val(projID)
            });
            
            
            $('#addtoprojectmaterialbtn').click(function(){
                
                let projectID = $('#projectmaterialid').val()
                let materialID = $('#projmaterialID').val()
                let qty = $('#projmaterialQty').val()
                
                if (qty === undefined || qty === null)
                    alert("Quantity Field is Empty")
                else{
                    $.post("/projects/addProjectMaterials",{
                        projectID:projectID,
                        materialID:materialID,
                        qty:qty
                    },function(data){
                        if(data === "Success")
                            loadProjectMaterialsTable(projectID)
                            alert("Material Added Successfully")
                            $('#addProjectMaterialModal').css("display", "none");
                    })
                }
            });
            
            $('button.editProjectDetails').click(function(){
                
                let projectID = $(this).attr("data-id") 
                let status = $(this).attr("data-status")
                let clientID = $(this).attr("data-clientID")
                
                
                $('#editProjectDetailID').val(projectID)
                $('#clientIDDropdown').val(clientID)
                $('#statusDropdown').val(status)
                
                modal2.style.display = "block";
            });
            
            $(document).on('click', "button.editProjectMaterialsBtn", function() {
                let pmID = $(this).attr("data-id")
                let qty = $(this).attr("data-quantity")
                let itemID = $(this).attr("data-itemID")
                let projectID = $(this).attr("data-projectID")
                
                
                
                $('#editProjectMaterialIDLabel').val(pmID)
                $('#editProjectMaterialQuantity').val(qty)
                $('#editmaterialIDDropdown').val(itemID)
                $('#currProjID').val(projectID)
                
                modal4.style.display = "block";
            });
            
            $('button.submitEditProjectMaterialBtn').click(function(){
                let pmID = $('#editProjectMaterialIDLabel').val()
                let qty = $('#editProjectMaterialQuantity').val()
                let itemID = $('#editMaterialIDDropdown').val()
                let projID = $('#currProjID').val()
                
                
                if (pmID === "" || qty === "" || itemID === "")
                    alert("Please Do Not Leave Empty Fields")
                else{
                    $.post("/projects/editProjectMaterial",{
                        pmID:pmID,
                        qty:qty,
                        itemID:itemID
                    },function(data){
                        if(data === "success"){
                            loadProjectMaterialsTable(projID)
                            modal4.style.display="none";
                        }
                    })
                }
            });
        });
    </script>
</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">UP RISING</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="dashboard">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item active">
        <li class="nav-item">
        <a class="nav-link" href="inventory">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Inventory</span></a>
      </li>
      <li class="nav-item active">
        <li class="nav-item">
        <a class="nav-link" href="requisitions">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Requisitions</span></a>
      </li>
      <li class="nav-item active">
        <li class="nav-item">
        <a class="nav-link" href="employees">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Employees</span></a>
      </li>
      <li class="nav-item active">
        <li class="nav-item">
        <a class="nav-link" href="clients">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Clients</span></a>
      </li>
        <li class="nav-item active">
        <li class="nav-item">
        <a class="nav-link" href="projects">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Projects</span></a>
      </li>
      <li class="nav-item active">
        <li class="nav-item">
        <a class="nav-link" href="suppliers">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Suppliers</span></a>
      </li>
      <li class="nav-item active">
        <li class="nav-item">
        <a class="nav-link" href="orders">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Orders</span></a>
      </li>
      <li class="nav-item active">
        <li class="nav-item">
        <a class="nav-link" href="reports">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Reports</span></a>
      </li>
      <li class="nav-item active">
        <li class="nav-item">
        <a class="nav-link" href="delivery_tracker.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Delivery Tracker</span></a>
      </li>

       
    

      
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-danger" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-danger" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>


            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Project List<a href="#" class="btn btn-danger btn-icon-split addemp" id = "myBtn">
                <span class="icon text-white-50">
                    <b class = "plusicon">+</b>
                </span>
                <span class="text">Add Projects</span>
        </a></h1>
                    <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class = "modal-dialog modal-lg modal-ku">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add Project</h5>
                        <span class="close btn btn-danger btn-circle btn-sm">&times;</span>
                        
                    </div>
                    <form action = "projects/add" method = "post">
                        <div class="modal-body">
                            <div class = "row">
                                <div class = "col-md-2">Client name:</div>
                                <select name = "clientID">
                                    {{#each clients}}
                                        <option value = "{{this.clientID}}">{{this.clientName}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div> 
                        <div class="modal-footer">
                            <button type = "submit" class = "btn btn-success">Save</button>
                        </div>
                    </form>
                </div>
                    </div>

            </div>   

            
       
            <div id="addProjectMaterialModal" class="modal">

                <!-- Modal content -->
                <div class = "modal-dialog modal-lg modal-ku">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add Material</h5>
                        <span class="close btn btn-danger btn-circle btn-sm" id = 'closeaddProjectMaterialModal'>&times;</span>
                        
                    </div>
                        <div class="modal-body">
                            <div class = "row">
                                <input type = text id = 'projectmaterialid'>
                                <div class = "col-md-2">Material:</div>
                                <select id = "projmaterialID">
                                    {{#each materials}}
                                        <option value = "{{this.materialID}}">{{this.type}} - "{{this.materialName}}" - {{this.supplierName}}</option>
                                    {{/each}}
                                </select>
                            </div>
                             <div class = "row">
                                 <div class = "col-md-2">Quantity:</div>
                                <input type = 'number' id = 'projmaterialQty'>
                             </div>
                        </div>
                       
                        <div class="modal-footer">
                            <button class = "btn btn-success" id = 'addtoprojectmaterialbtn'>Add</button>
                        </div>
                    
                    
                   
                </div>
                    </div>

            </div> 
            
         <div id="viewModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Materials</h5>
                    <span class="close btn btn-danger btn-circle btn-sm" id = "closeviewModal">&times;</span>
                        
                </div>
                
              <div class="modal-body">
              <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Materials</h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered projectmaterials" id="dataTable" width="100%" cellspacing="0">
                           <thead>
                               <tr>
                                   <th>Material</th>
                                   <th>Quantity</th>
                                   <th>Unit Cost</th>
                                   <th>Total Cost</th>
                                   <th>Edit</th>
                               </tr>
                           </thead>
                           <tbody>
                              
                           </tbody>
                           
                  </table>
                  </div>
              </div>
              </div>                             
                        </div>
                        <div class="modal-footer">
                            <button id ="addprojectmaterialbtn" class = "btn btn-danger"><U>Add Material</U></button>
                        </div>  
            </div>
        </div>   
            <div id="editProjectDetailsModal" class="modal">
                <!-- Modal content -->
                
                <div class = "modal-dialog modal-lg modal-ku">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Edit Project Details</h5>
                        <span class="close btn btn-danger btn-circle btn-sm" id = 'closeEditProjectDetailsModal'>&times;</span>
                        
                    </div>
                    <form action = "projects/editProjectDetails" method = "post">
                        <div class="modal-body">
                            <div class = "row">
                                <input type = text id = 'editProjectDetailID' name = 'projID'>
                                <div class = "col-md-2">Client:</div>
                                <select id = "clientIDDropdown" name = 'clientID'>
                                    {{#each clients}}
                                        <option value = "{{this.clientID}}">{{this.clientName}}</option>
                                    {{/each}}
                                </select>
                                <div class = "col-md-2">Status :</div>
                                <select id = "statusDropdown" name = 'status' >
                                    <option value = "Pending">Pending</option>
                                    <option value = "Approved">Approved</option>
                                </select>
                            </div>
                        </div>
                       
                        <div class="modal-footer">
                            <input class = "btn btn-success" type = 'submit' value = 'Save'>
                        </div>
                    </form>
                </div>
                </div>

            </div> 
            
            <div id="editProjectMaterialModal" class="modal">
                <!-- Modal content -->
                
                <div class = "modal-dialog modal-lg modal-ku">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Edit Project Material</h5>
                        <span class="close btn btn-danger btn-circle btn-sm" id = 'closeEditProjectMaterialModal'>&times;</span>
                        
                    </div>
                        <div class="modal-body">
                            <div class = "row">
                                <input type = text id = 'editProjectMaterialIDLabel' name = 'pmID'>
                                <div class = "col-md-2">Material:</div>
                                <select id = "editMaterialIDDropdown" name = 'clientID'>
                                    {{#each materials}}
                                        <option value = "{{this.materialID}}">{{this.type}} - "{{this.materialName}}" - {{this.supplierName}}</option>
                                    {{/each}}
                                </select>
                                <div class = "col-md-2">Quantity :</div>
                                <input type = 'number' id = 'editProjectMaterialQuantity' name = 'quantity'>
                                <input type = 'number' id = 'currProjID'>
                            </div>
                        </div>
                       
                        <div class="modal-footer">
                            <button class = "submitEditProjectMaterialBtn btn-success" type = 'submit'>Save</button>
                        </div>
                </div>
                </div>

            </div> 
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Projects</h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Company Name</th>
                        <th>Project Number</th>
                        <th>Date Requested</th>
                        <th>Status</th>
                        <th>Materials</th>
                        <th>Edit Details</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each projects}}
                      <tr>
                        <td>{{this.clientName}}</td>
                        <td>{{this.projectNumber}}</td>
                        <td>{{this.dateAdded}}</td>
                        <td>{{this.status}}</td>
                        <td><button class = "viewdetails btn btn-danger" data-id = '{{this.projectID}}'>View Materials</button></td>
                        <td><button class = "editProjectDetails btn btn-danger" data-id = '{{this.projectID}}' data-status = '{{this.status}}' data-clientID = '{{this.clientID}}'>Edit</button></td>  
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                  
                </div>
              </div>
            </div>
  
          </div>
          <!-- /.container-fluid -->
  
        </div>
        <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to log out?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
          <a class="btn btn-danger" href="/">Yes</a>
        </div>
      </div>
    </div>
  </div>
    
      <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/datatables-demo.js"></script>
        <script>
        // Get the modal
        var modal = document.getElementById("myModal");
        var modal2 = document.getElementById("editProjectDetailsModal");
        var modal3 = document.getElementById("viewModal");
        var modal4 = document.getElementById("editProjectMaterialModal");
        
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span1 = document.getElementById("closeaddProjectMaterialModal");
        var span2 = document.getElementById("closeviewModal");
        var span3 = document.getElementsByClassName("close")[0];
        var span4 = document.getElementById("closeEditProjectDetailsModal");
        var span5 = document.getElementById("closeEditProjectMaterialModal");

        // When the user clicks on the button, open the modal
        btn.onclick = function() {
            modal.style.display = "block";
        }
       

        
            
        
        // When the user clicks on <span> (x), close the modal
        span1.onclick = function() {
            $('#addProjectMaterialModal').css("display", "none");
        }

        span2.onclick = function() {
            $('#viewModal').css("display", "none");
        }

        span3.onclick=function(){
            modal.style.display="none";
        }
        
        span4.onclick = function(){
            modal2.style.display="none";
        }
        
        span5.onclick = function(){
            modal4.style.display="none";
        }
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
            else if (event.target == modal2) {
                modal2.style.display = "none";
            }
            else if (event.target == modal3) {
                modal3.style.display = "none";
            }
            else if (event.target == modal4) {
                modal4.style.display = "none";
            }
        }
    </script>
</body>

</html>