<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Buttons</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/stylesheets/sample.css" rel="stylesheet">
    <style>
        .plusicon {
            color:white;
        }
        .addmat {
            position:relative;
            right:-650px;
        }
        .additem {
            position:relative;
            right:-660px;
        }
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
        .modal-ku {
            width:900px;
            margin:auto;
        }
        
/* Modal Content */
        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            width: 80%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s
        }

/* Add Animation */
        @-webkit-keyframes animatetop {
            from {top:-300px; opacity:0} 
            to {top:0; opacity:1}
        }

        @keyframes animatetop {
            from {top:-300px; opacity:0}
            to {top:0; opacity:1}
        }

/* The Close Button */
        .close {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        .modal-header {
            padding: 2px 16px;
  
            color: black;
        }

        .modal-body {padding: 2px 16px;}

        .modal-footer {
            padding: 2px 16px;
  
            color: black;
        }
        
        input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"] {
            -moz-appearance: textfield;
        }
        
        .invLabel{
            display : none;
        }
    </style>
    <script src = '/jQuery.js'></script>
    <script>
        
        var clerkEditModal = document.getElementById("clerkEditModal")
        var stockmanEditModal = document.getElementById("stockmanEditModal")
        var stockmanReleaseModal = document.getElementById("stockmanReleaseModal");

        let warning = {{message}}
        $( document ).ready(function() {
            
            let userType = {{userType}}
            if(userType == 1){
                $('button.clerkAddButton').css("display","none")
                $('button.stockmanEditButton').css("display","none")
                $('button.stockmanReleseButton').css("display","none")
            }
            
            if(warning == 1){
                alert("Please Do Not Leave Empty Fields")
                window.location = '/requisitions';
            }
            else if(warning == 2){
                alert("Item Added to Inventory")
                window.location = '/requisitions'
            }
            else if(warning == 3){
                alert("Edit Successfully Saved")
                window.location = '/requisitions'
            }else if(warning == 4){
                alert("Release Request Approved")
                window.location = '/requisitions'
            }
            
            $(document).on('click','button.clerkAddButton',function(){
                let requestID = $(this).attr("data-id")
                let itemID = $(this).attr("data-itemID")
                let quantity = $(this).attr("data-qty")
                let unitPrice = $(this).attr("data-unitPrice")
                let itemType = $(this).attr("data-type")
                let itemName = $(this).attr("data-itemName")
                let supplier = $(this).attr("data-supplier")
                
                $('#clerkAddRequestID').val(requestID)
                $('#clerkAddItemID').val(itemID)
                $('#clerkAddUnitCost').val(unitPrice)
                $('#clerkAddQuantity').val(quantity)
                
                $('#clerkAddItemIDLabel').html(itemType + " - \"" + itemName + "\" " + supplier)
                $('#clerkAddUnitCostLabel').html(unitPrice)
                $('#clerkAddQuantityLabel').html(quantity)
                
                $('#clerkAddModal').css("display", "block")
            })
            
            $(document).on('click','button.stockmanEditButton',function(){
                let requestID = $(this).attr("data-id")
                let type = $(this).attr("data-type")
                let itemName = $(this).attr("data-itemName")
                let supplier = $(this).attr("data-supplier")
                let quantity = $(this).attr("data-quantity")
                let receiptNumber = $(this).attr("data-receiptNumber")
                let newType = $(this).attr("data-newType")
                let newItemName = $(this).attr("data-newItemName")
                let newSupplier = $(this).attr("data-newSupplier")
                let newQuantity = $(this).attr("data-NewQuantity")
                let newReceiptNumber = $(this).attr("data-newReceiptNumber")
                let deliveryID = $(this).attr("data-deliveryID")
                let newItemID = $(this).attr("data-newItemID")
                
                
                $('#currQuantityLabel').val(quantity)
                $('#currItemLabel').val(type + " - \"" + itemName + "\" " + supplier)
                $('#currDeliveryReceiptLabel').val(receiptNumber)
                $('#newDeliveryReceiptLabel').val(newReceiptNumber)
                $('#newItemLabel').val(newType + " - \"" + newItemName + "\" " + newSupplier)
                $('#newQuantityLabel').val(newQuantity)
                $('#stockmanEditID').val(requestID)
                $('#stockmanEditDeliveryID').val(deliveryID)
                $('#stockmanEditNewItemID').val(newItemID)
                
                
                $('#stockmanEditModal').css("display", "block")
            })
            
            $(document).on('click','button.stockmanReleaseButton',function(){
                let requestID = $(this).attr("data-id")
                let itemType = $(this).attr("data-type")
                let itemName = $(this).attr("data-itemName")
                let supplier = $(this).attr("data-supplier")
                let projectNumber = $(this).attr("data-projectNumber")
                let quantity = $(this).attr("data-quantity")
                let itemID = $(this).attr("data-itemID")
                
                console.log("Project Number : " + projectNumber)
                
                $('#stockmanReleaseRequestID').val(requestID)
                $('#stockmanReleaseProjectNumber').val(projectNumber)
                $('#stockmanReleaseItemName').val(itemType + " - \"" + itemName + "\" " + supplier)
                $('#stockmanReleaseItemID').val(itemID)
                $('#stockmanReleaseQuantity').val(quantity)
                
                $('#stockmanReleaseModal').css("display", "block")
            })
            
            $('#closeClerkAdd').click(function(){
                $('#clerkAddModal').css("display", "none")
            })
            
            $('#closeStockmanEdit').click(function(){
                $('#stockmanEditModal').css("display", "none")
            })
            
           $('#closeStockmanRelease').click(function(){
                $('#stockmanReleaseModal').css("display", "none")
            })
            
        });
    </script>
    <!-- Custom styles for this template -->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">UP RISING</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="dashboard">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item active">
        <li class="nav-item">
        <a class="nav-link" href="inventory">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Inventory</span></a>
      </li>
      <li class="nav-item active">
        <li class="nav-item">
        <a class="nav-link" href="requisitions">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Requisitions</span></a>
      </li>
      <li class="nav-item active">
        <li class="nav-item">
        <a class="nav-link" href="employees">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Employees</span></a>
      </li>
      <li class="nav-item active">
        <li class="nav-item">
        <a class="nav-link" href="clients">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Clients</span></a>
      </li>
        <li class="nav-item active">
        <li class="nav-item">
        <a class="nav-link" href="projects">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Projects</span></a>
      </li>
      <li class="nav-item active">
        <li class="nav-item">
        <a class="nav-link" href="suppliers">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Suppliers</span></a>
      </li>
      <li class="nav-item active">
        <li class="nav-item">
        <a class="nav-link" href="orders">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Orders</span></a>
      </li>
      
      <li class="nav-item active">
        <li class="nav-item">
        <a class="nav-link" href="/delivery_tracker">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Delivery Tracker</span></a>
      </li>

       
    

      
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-danger" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-danger" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#profileModal">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Requisitions
              
          </h1>
           
            
            <div id="clerkAddModal" class="modal">

             Modal content 
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add To Database </h5>
                    <span class="close btn btn-danger btn-circle btn-sm" id = 'closeClerkAdd'>&times;</span>
                        
                </div>
                <form action = "/requisitions/clerkAdd" method = "post">
                        <div class="modal-body">
                            <input type = 'text' id = 'clerkAddRequestID' class = 'invLabel' name = 'requestID'>
                            <input name = "itemID" type = "number" id = 'clerkAddItemID' class = 'invLabel'>
                            <input name = "unitCost" type = "number" id = 'clerkAddUnitCost'class = 'invLabel'>
                            <input name = "quantity" type = "number" id = 'clerkAddQuantity'class = 'invLabel'>
                             <table name = "ordermaterials">
                                <tr>
                                    <th>Item Name</th>
                                    <th>Unit Price</th>
                                    <th>Qty.</th>
                                </tr>
                                <tr>
                                    <td>
                                        <div id = 'clerkAddItemIDLabel'></div>
                                    </td>
                                    <td>
                                        <div id = 'clerkAddUnitCostLabel'></div>
                                    </td>
                                    <td>
                                        <div id = 'clerkAddQuantityLabel'></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type = "submit" class = "btn btn-success" name = 'action' value = 'Accept'>Accept</button>
                            <button type = "submit" class = "btn btn-success" name = 'action' value = 'Decline'>Decline</button>
                        </div>
                    </form>
                </div>
            </div> 
            
            <div id="stockmanEditModal" class="modal">

             Modal content 
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Edit Data Request </h5>
                    <span class="close btn btn-danger btn-circle btn-sm" id = 'closeStockmanEdit'>&times;</span>
                        
                </div>
                <form action = "/requisitions/stockmanEdit" method = "post">
                        <div class="modal-body">
                            <input type = 'text' id = 'stockmanEditID' class = 'invLabel' name = 'requestID'>
                            <input type = 'text' id = 'stockmanEditDeliveryID' class = 'invLabel' name = 'deliveryID'>
                            <input type = 'text' id = 'stockmanEditNewItemID' class = 'invLabel' name = 'newItemID'>
                            <h3>Old Data: </h3>
                            <div class = "row">
                                <div class = "col-md-3">
                                    <div>Delivery Receipt</div>
                                    <input type="text" class="form-control bg-light border-0 small" aria-label="Search" aria-describedby="basic-addon2" id = 'currDeliveryReceiptLabel' readonly>
                                </div>
                                <div class = "col-md-3">
                                    <div>Item Name</div>
                                    <input type="text" class="form-control bg-light border-0 small" aria-label="Search" aria-describedby="basic-addon2" id = 'currItemLabel' readonly>
                                </div>
                                <div class = "col-md-3">
                                    <div>Quantity</div>
                                    <input type="text" class="form-control bg-light border-0 small" aria-label="Search" aria-describedby="basic-addon2" id = 'currQuantityLabel' readonly>
                                </div>
                            </div>
                            <h3>New Data: </h3>
                            <div class = "row">
                                <div class = "col-md-3">
                                    <div>Delivery Receipt</div>
                                    <input type="text" class="form-control bg-light border-0 small" aria-label="Search" aria-describedby="basic-addon2" id = 'newDeliveryReceiptLabel' name = "deliveryReceiptNumber" readonly>
                                </div>
                                <div class = "col-md-3">
                                    <div>Item Name</div>
                                    <input type="text" class="form-control bg-light border-0 small" aria-label="Search" aria-describedby="basic-addon2" id = 'newItemLabel' name = "itemName" readonly>
                                </div>
                                <div class = "col-md-3">
                                    <div>Quantity</div>
                                    <input type="text" class="form-control bg-light border-0 small" aria-label="Search" aria-describedby="basic-addon2" id = 'newQuantityLabel' name = "quantity" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type = "submit" class = "btn btn-success" name = 'action' value = 'Accept'>Accept</button>
                            <button type = "submit" class = "btn btn-success" name = 'action' value = 'Decline'>Decline</button>
                        </div>
                    </form>
                </div>
            </div> 
            
            
            <div id="stockmanReleaseModal" class="modal">

             Modal content 
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Release Stock Request</h5>
                    <span class="close btn btn-danger btn-circle btn-sm" id = 'closeStockmanRelease'>&times;</span>
                        
                </div>
                <form action = "/requisitions/stockmanRelease" method = "post">
                        <div class="modal-body">
                            <input type = 'text' id = 'stockmanReleaseRequestID' class = 'invLabel' name = 'requestID'>
                            <h3>Release Request </h3>
                            <div class = "row">
                                <div class = "col-md-3">
                                    <div>Project Number</div>
                                    <input type="text" id = 'stockmanReleaseProjectNumber' class="form-control bg-light border-0 small" aria-label="Search" aria-describedby="basic-addon2" readonly>
                                </div>
                                <div class = "col-md-3">
                                    <div>Item Name</div>
                                    <input type="text" class="form-control bg-light border-0 small" aria-label="Search" aria-describedby="basic-addon2" id = 'stockmanReleaseItemName' readonly>
                                    <input type="text" class= "invLabel" name = "itemID" id = 'stockmanReleaseItemID'>
                                </div>
                                <div class = "col-md-3">
                                    <div>Quantity</div>
                                    <input type="number" class="form-control bg-light border-0 small" aria-label="Search" aria-describedby="basic-addon2" name = "quantity" id = 'stockmanReleaseQuantity' readonly>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type = "submit" class = "btn btn-success" name = 'action' value = 'Accept'>Accept</button>
                            <button type = "submit" class = "btn btn-success" name = 'action' value = 'Decline'>Decline</button>
                        </div>
                    </form>
                </div>
            </div> 
          
           <!-- DataTales Example -->
           <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Requisitions</h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Type</th>
                        <th>Details</th>
                      </tr>
                    </thead>
                    <tbody>
                        {{#each clerkEditRequests}}
                            <tr>
                                <td>{{this.firstName}} {{this.lastName}}</td>
                                <td>{{this.userTypeString}}</td>
                                <td>Add To Inventory Request</td>
                                <td><button class = 'btn btn-primary clerkAddButton' data-id = "{{this.requestID}}" data-itemID = "{{this.materialID}}" data-qty = "{{this.quantity}}" data-unitPrice = "{{this.unitPrice}}" data-type = "{{this.type}}" data-itemName = "{{this.materialName}}" data-supplier = "{{this.supplierName}}">View Details</button></td>
                            </tr>
                        {{/each}}
                        
                        {{#each stockmanEditRequests}}
                            <tr>
                                <td>{{this.firstName}} {{this.lastName}}</td>
                                <td>{{this.userTypeString}}</td>
                                <td>Edit Request</td>
                                <td><button class = 'btn btn-primary stockmanEditButton' data-id = "{{this.requestID}}" data-type = "{{this.type}}" data-itemName = "{{this.materialName}}" data-supplier = "{{this.supplierName}}" data-quantity = "{{this.currQuantity}}" data-receiptNumber = "{{this.currDeliveryReceipt}}" data-newType = "{{this.newType}}" data-newItemName = "{{this.newItemName}}" data-newSupplier = "{{this.newSupplier}}" data-NewQuantity = "{{this.newQuantity}}" data-newReceiptNumber = "{{this.newDeliveryReceipt}}" data-deliveryID = "{{this.deliveryID}}" data-newItemID = "{{this.newItemID}}">View Details</button></td>
                            </tr>
                        {{/each}}
                        
                        {{#each stockmanReleaseRequests}}
                            <tr>
                                <td>{{this.firstName}} {{this.lastName}}</td>
                                <td>{{this.userTypeString}}</td>
                                <td>Release Request</td>
                                <td><button class = 'btn btn-primary stockmanReleaseButton' data-id = "{{this.requestID}}" data-type = "{{this.type}}" data-itemName = "{{this.materialName}}" data-supplier = "{{this.supplierName}}" data-projectNumber = "{{this.projectNumber}}" data-quantity = "{{this.qty}}" data-itemID = "{{this.itemID}}">View Details</button></td>
                            </tr>
                        {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
  
          </div>
          <!-- /.container-fluid -->
  
        </div>
      <!-- End of Main Content -->

      

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to log out?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
          <a class="btn btn-danger" href="/logout">Yes</a>
        </div>
      </div>
    </div>
  </div>

   <!-- Profile Modal-->
    <div class="modal fade" id="profileModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div>Name: (name)</div>
            <div>Email: (email)</div>
            <div>UserType: (usertype)</div>
          </div>
        
          <div class="modal-footer">
            <a class="btn btn-success" id ="editProfile" data-toggle="modal" data-target="#enterPassword"  data-dismiss="modal" aria-label="Close">Edit Profile</a>
          </div>
        </div>
      </div>
    </div>

<!--Confirm Password Modal-->
    <div class="modal fade" id="enterPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Please enter yur password to confirm</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <input type="text" name="password" id="pass">

          </div>
        
          <div class="modal-footer">
            <input type="submit" id = "confirm" class="btn btn-success" value="Confirm" data-dismiss="modal" aria-label="Close"> 
          </div>
        </div>
      </div>
    </div>
<!-- Edit Profile Modal-->
     <div class="modal" id = "editProfileModal"> 

      <div class="modal-content">
          <div class="modal-header">
              <h2>Edit Profile</h2>

               <button type="button"  class="close" data-dismiss="modal" aria-label="Close">
                    <span id = "close3" aria-hidden="true" class = " btn btn-danger btn-circle btn-sm">&times;</span>
               </button>
          </div>

     <div class="card-body" >
              <form >
                  <div>First Name</div>
                  <input type = 'text' id = 'firstNameLabel' name = 'fName'>
                  <div>Last Name </div>
                  <input type = 'text' id = 'lastNameLabel' name = 'lName'>
                  <div>Email: </div>
                  <input type = 'text' name = 'email' id = 'emailLabel'>
                  <div>New Password: </div>
                  <input type = 'password' name = 'newPassLabel' id = 'npass'>
                  <div>Confirm Password </div> 
                  <input type="password" id = 'cpass' name = 'confirmPassLabel'>
                  <div>
                      <input type = "submit" class = 'btn btn-primary' value = 'Save'>
                  </div>
                  
              </form>
          </div>
      </div>
   </div>
    
      <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

   <!-- Page level plugins -->
   <script src="vendor/datatables/jquery.dataTables.min.js"></script>
   <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
 
   <!-- Page level custom scripts -->
   <script src="js/demo/datatables-demo.js"></script>

   <script>
       var confirmBtn = document.getElementById("confirm");
     var editProfile = document.getElementById("editProfileModal");
     var enterPass = document.getElementById("enterPassword");
     var profile = document.getElementById("profileModal");
     // var confirmBtn = document.getElementById("editProfile2");
      

      confirmBtn.onclick = function(){
        editProfile.style.display = "block";
        enterPass.style.display = "none";
        profile.style.display = "none";
      }

       var span = document.getElementById("close3");

        // When the user clicks on the button, open the modal

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
           editProfile.style.display = "none";
            enterPass.style.display = "none";
          profile.style.display = "none";
        }

      

   </script>
 

</body>

</html>