<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Tables</title>

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <style>
        .plusicon {
            color:white;
        }
        .addemp {
            position:relative;
            right:-590px;
        }
        .addemp2 {
            position:relative;
            right:-640px;
        }
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

/* Modal Content */
        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            width: 80%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s
        }

/* Add Animation */
        @-webkit-keyframes animatetop {
            from {top:-300px; opacity:0} 
            to {top:0; opacity:1}
        }

        @keyframes animatetop {
            from {top:-300px; opacity:0}
            to {top:0; opacity:1}
        }

/* The Close Button */
        .close {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        .close2 {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close2:hover,
        .close2:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        .modal-header {
            padding: 2px 16px;
  
            color: black;
        }

        .modal-body {padding: 2px 16px;}

        .modal-footer {
            padding: 2px 16px;
  
            color: black;
        }
        
        input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"] {
            -moz-appearance: textfield;
        }
        
        .invLabel{
            display : none;
        }
    </style>
    <script src = '/jQuery.js'></script>
    <script>
        let warning = {{message}}
        $( document ).ready(function() {
            if(warning === 1){
                alert("Please Do Not Leave Fields Empty")
                window.location = '/stockman/requests';
            }
            else if(warning === 2){
                alert("Request Added Successfully")
                window.location = '/stockman/requests';
            }
            else if(warning === 3){
                alert("Not Enough Stock in Inventory to Release that Amount")
                window.location = '/stockman/requests';
            }
            else if(warning ===4){
                alert("Item Does Not Exist in Inventory")
                window.location = '/stockman/requests';
            }
             else if(warning ===5){
                alert("Stock Has Been Released")
                window.location = '/stockman/requests';
            }
            
            $('button.releaseStock').click(function(){
                let itemID = $(this).attr("data-itemID")
                let quantity = $(this).attr("data-quantity")
                let requestID = $(this).attr("data-requestID")
                
                $('#releaseItemIDLabel').val(itemID)
                $('#releaseQuantityLabel').val(quantity)
                $('#releaseRequestIDLabel').val(requestID)
            
                $('#releaseConfirmationModal').css("display","block")
            })
            
            $('#closeReleaseConfirmationModal').click(function(){
                $('#releaseConfirmationModal').css("display","none")
            })
        });
    </script>
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-3">UP RISING</div>
        </a>
  
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
  
        <!-- Nav Item - Dashboard -->
    
  
        <!-- Divider -->
        <hr class="sidebar-divider">
  
        <!-- Heading -->
        
  
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
          <li class="nav-item">
          <a class="nav-link" href="/stockman">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Deliveries</span></a>
        </li>
        <li class="nav-item active">
          <li class="nav-item">
          <a class="nav-link" href="/stockman/requests">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Release Requests</span></a>
        </li>
        
       
         
      
  
        
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
  
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
  
      </ul>
      <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-danger" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-danger" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Release
            <a href="#" class="btn btn-danger btn-icon-split addemp" id = "myBtn">
            <span class="icon text-white-50">
                <b class = "plusicon">+</b>
            </span>
            <span class="text">Request</span>
         </a>
         
            
        </h1> 
            <!-- The Modal -->
       
          <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Request</h5>
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class=" btn btn-danger btn-circle btn-sm" id = 'close2'>&times;</span>
                        </button>                        
                    </div>
                    <form action = "/stockman/releaseRequest" method = "post">
                        <div class="modal-body">
                            
                            <table name = "requestMaterials">
                                <tr>
                                    <th>Project Number</th>
                                    <th>Item Name</th>
                                    <th>Qty</th>
                                </tr>
                                <tr>
                                    <td>
                                        <select name = projectID>
                                            {{#each projects}}
                                                <option value = '{{this.projectID}}'>{{this.projectNumber}}</option>
                                            {{/each}}
                                        </select>
                                    </td>
                                    <td>
                                        <select name = 'itemID'>
                                            {{#each items}}
                                                <option value = '{{this.materialID}}'>{{this.type}} - "{{this.materialName}}" - {{this.supplierName}}</option>
                                            {{/each}}
                                        </select>
                                    </td>
                                    <td>
                                        <input class="form-control" type = "number" name = "qty" id="qtyLabel">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type = "submit" class = "btn btn-success">Request</button>
                        </div>
                    </form>
                    
                </div>


            </div> 
            
            <div id="releaseConfirmationModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Release Stock</h5>
                        <form action = "/stockman/releaseStock" method = "post">
                        <span class="close btn btn-danger btn-circle btn-sm" id = 'closeReleaseConfirmationModal'>&times;</span>
                        <div class='row'>
                            Release This Stock ?
                        </div>
                        <input type = 'text' class = 'invLabel' name = 'quantity' id = 'releaseQuantityLabel'>
                        <input type = 'text' class = 'invLabel' name = 'itemID' id = 'releaseItemIDLabel'>
                        <input type = 'text' class = 'invLabel' name = 'requestID' id = 'releaseRequestIDLabel'> 
                            
                        <div class="modal-footer">
                            <button type = "submit" class = "btn btn-success" name = 'action' value = 'Accept'>Yes</button>
                            <button type = "submit" class = "btn btn-success" name = 'action' value = 'Decline'>No</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div> 
          
<div>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Pending</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
              </tr>
              <tr>
                      <th>Project Number</th>
                      <th>Item</th>
                      <th>Supplier</th>
                      <th>Qty</th>
              </tr>
            </thead>
            <tbody>
                {{#each pending}}
                    <tr>
                        <td>{{this.projectNumber}}</td>
                        <td>{{this.type}} - "{{this.materialName}}"</td>
                        <td>{{this.supplierName}}</td>
                        <td>{{this.qty}}</td>
                    </tr>
                {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Approved</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
              </tr>
              <tr>
                      <th>Project Number</th>
                      <th>Item</th>
                      <th>Supplier</th>
                      <th>Qty</th>
                      <th>Release</th>
              </tr>
            </thead>
            <tbody>
                {{#each approved}}
                    <tr>
                        <td>{{this.projectNumber}}</td>
                        <td>{{this.type}} - "{{this.materialName}}"</td>
                        <td>{{this.supplierName}}</td>
                        <td>{{this.qty}}</td>
                        <td><button class = 'btn btn-primary releaseStock' data-itemID = "{{this.materialID}}" data-quantity = "{{this.qty}}" data-requestID = "{{this.requestID}}"><u>Release</u></button></td>
                    </tr>
                {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
 
</div> 


</div>
          

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
       
            </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-danger" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  
  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="j/s/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/demo/datatables-demo.js"></script>
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        var btn3 = document.getElementById("myBtn3");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal
        btn.onclick = function() {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        // Get the modal
        var modal2 = document.getElementById("myModal2");

        // Get the button that opens the modal
        var btn2 = document.getElementById("myBtn2");

        // Get the <span> element that closes the modal
        var span2 = document.getElementsByClassName("close2")[0];


        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal2) {
                modal2.style.display = "none";
            }
            else if (event.target == modal) {
                modal.style.display = "none";
            } 
        }
    </script>
</body>

</html>
